Viikko2/GradleTutoriali/.gradle
Viikko2/GradleTutoriali/build
/Viikko3/HelloCucumber/.nb-gradle/
/Viikko3/HelloCucumber/build/
/Viikko3/LoginCucumber/.nb-gradle/
/Viikko3/LoginCucumber/build/
/Viikko3/WebLogin/.nb-gradle/