Viikko2/GradleTutoriali/.gradle
Viikko2/GradleTutoriali/build
/Viikko3/HelloCucumber/.nb-gradle/
/Viikko3/HelloCucumber/build/
/Viikko3/LoginCucumber/.nb-gradle/
/Viikko3/LoginCucumber/build/
/Viikko3/WebLogin/.nb-gradle/
/Viikko4/MockitoDemo/.nb-gradle/
/Viikko4/MockitoDemo/build/
/Viikko4/MatkakorttiMockito/.nb-gradle/
/Viikko4/MatkakorttiMockito/build/
/Viikko4/VerkkokauppaSpring/.nb-gradle/
/Viikko4/VerkkokauppaSpring/build/
/Viikko5/IntJoukkoSovellus/build/